<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Static Assets" stopProcessing="true">
          <match url="^static/(.*)$" />
          <action type="Rewrite" url="static/{R:1}" />
        </rule>
        <rule name="API Endpoints" stopProcessing="true">
          <match url="^api/(.*)$" />
          <action type="Rewrite" url="api/{R:1}" />
        </rule>
        <rule name="Extract Page" stopProcessing="true">
          <match url="^extract$" />
          <action type="Rewrite" url="extract" />
        </rule>
        <rule name="Batch Page" stopProcessing="true">
          <match url="^batch$" />
          <action type="Rewrite" url="batch" />
        </rule>
        <rule name="Scrape Page" stopProcessing="true">
          <match url="^scrape$" />
          <action type="Rewrite" url="scrape" />
        </rule>
        <rule name="About Page" stopProcessing="true">
          <match url="^about$" />
          <action type="Rewrite" url="about" />
        </rule>
        <rule name="Health Check" stopProcessing="true">
          <match url="^health$" />
          <action type="Rewrite" url="health" />
        </rule>
        <rule name="Root" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="/" />
        </rule>
        <rule name="Not Found" stopProcessing="true">
          <match url="^((?!static|api|extract|batch|scrape|about|health).)*$" />
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
</configuration>