option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: main:app
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: production
    PORT: 5000
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

container_commands:
  01_setup_nginx:
    command: "cp .platform/nginx/conf.d/proxy.conf /etc/nginx/conf.d/"
    test: test -f .platform/nginx/conf.d/proxy.conf
  02_collectstatic:
    command: "echo 'No static files to collect'"