files:
  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIApplicationGroup %{GLOBAL}
      WSGIPassAuthorization On
      WSGIPythonHome /var/app/venv/staging-LQM1lest
      WSGIScriptAlias / /var/app/current/application.py
      <Directory /var/app/current>
        Require all granted
      </Directory>

  "/var/app/current/application.py":
    mode: "000644"
    owner: webapp
    group: webapp
    content: |
      import sys
      import os
      sys.path.insert(0, '/var/app/current')
      sys.path.insert(0, '/var/app/venv/staging-LQM1lest/lib/python3.10/site-packages')
      
      # Import the Flask app object
      from main import app as application